# Install the library
pragma_install_lib("${CMAKE_CURRENT_BINARY_DIR}/modules/{{ tmplr.module_name }}/${PR_MODULE_INSTALL_SUBDIR}/${OS_LIB_BIN_PRE}{{ tmplr.module_name }}${OS_LIB_BIN_EXT}" "{{ tmplr.install_directory }}")
